/* CSS Styles */

/* Removed the background color from body */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Added margin to the content */
.content{
    padding: 10px;
    max-width: 500px;
    width: 100%;
    height: auto;
    border: 2px solid;
}

/* Removed unnecessary styles */
.container{
    position: relative;
    max-width: 500px;
    width: 100%;
    height: auto;
    border: 2px solid;
}

/* Adjusted styles for the display */
.display{
    margin-bottom: 10px;
    width: 100%;
    min-height: 50px;
    height: auto;
    border: 2px solid;
}

/* Adjusted styles for rows and buttons */
.row{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
    height: auto;
}

.num{
    width: 80%;
    height: 10%;
    margin-left: 10px;
}

/* Adjusted padding for input buttons */
input[type="button"] { 
    width: 100%; 
    padding: 20px 0; 
} 
