.calc{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid;
    width: 500px;
    height: 500px;
}

.container{
    border: 2px solid;
    width: 80%;
    height: 90%;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    /* flex-wrap: wrap; */
}

.display{
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 15%;
}

.control{
    width: 90%;
    height: 90%;
    display:flex;
    flex-wrap: wrap;
}

input[type="button"]{
    /* display: none; */
    width: 25%;
    font-size:larger;
}